<% if user_signed_in? %>
  <%= form_with model: @post, url: posts_path do |form| %>
    <%= form.text_area :body, class: "border-b border-t-0
    border-x-0 mb-6 px-6 pt-6 block w-full border-gray-200 rounded", 
    placeholder: "Write here!" %>
    <div class="flex justify-end">
      <%= form.submit "Post!", class: button_class(theme: "primary") %>
    </div>
  <% end %>
<% else %>
  <p> You are not logged in! </p>
<% end %>