<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen ">

    <header>
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
    </header>

    <main class="flex-grow container mx-auto px-4 ">
      <div class = "grid grid-cols-4 gap-4">
        <div class="border-b rounded-lg bg-gray-200">
          <p class="px-4 py-4">Side Bar Things</p>
        </div>
        <div class="col-span-2">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </main>
  </body>
</html>
